.game_container {
  background-color: rgb(180, 176, 176);
  width: 400px;
  height: 400px;
  position: relative;
}

.target {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #525252;
  cursor: pointer;
}
